
/*========================MainPage===========================================*/
#h1mp{
    text-align: center;
    font-size: 55px;
    color:#232F3E;
    margin: 55px;
    font-family:  'Amazon Ember', sans-serif;
}

#h3mp{
    text-align: center;
    font-size: 29px;
    color:#232F3E;
    margin: 30px;
    font-family:  'Amazon Ember', sans-serif;
}

#h4mp{
    text-align: center;
    font-size: 27px;
    color:#232F3E;
    margin: 30px;
    font-family:  'Amazon Ember', sans-serif;
}

#sessão_inicial {
display: flex ;
flex-direction: row;
text-align: center;
margin: 0 auto;
justify-content: center;
}

#caixas{
    margin:30px
}

#divbutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color:#232F3E;
    font-family:  'Amazon Ember', sans-serif;
}

.buttoninicial {
    margin:20px;
    padding: 20px 40px;
    background-color: darkorange;
    width: 150px;
    border-radius: 20px;

    cursor: pointer;
    box-shadow: 0 0 10px #232F3E ;
    transition-duration: 0.8s;

}

.buttoninicial:hover {
    box-shadow: 0 0 5px #232F3E ;
    transform: scale(1.2);

}

.pnav2:hover{
    transform:scale(1.01);
    box-shadow: 0 10px 0 #131921;
}

/*========================MainPage==================================================*/

