{{#each accounts}}
    <div id="infoTab">
     <h2> Nome da Conta : {{this.name}}</h2>
     <p class="infos"> Email do Usuário : {{this.email}}</p>
    <p class="infos">Senha : {{this.password}}</p>
    </div>
{{/each}}
