<div id="sessão_inicial">
        <div>
            <h1 id="h1mp"> Bem vindo(a) a Amazing Store!</h1>
            <h3 id="h3mp"> Uma página inspirada na Amazon apenas para fins de Estudo E Projeto!</h3>
            <h4 id="h4mp"> Aproveite e Faça compras nessa loja imaginária e personalizada!</h4>
            <div id="divbutton">
                <div class="buttoninicial"><a>Login</a></div>
                <div class="buttoninicial"><a>Cadastro</a></div>
            </div>
        </div>
    </div>


    <footer>


    </footer>