<div>
    <form id="formLogin" action="/register/addUser" method="POST">
        <div id="formItem" class="form-floating mb-3">
            <input type="text" name="name" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Nome do Usuário</label>
        </div>
        <div id="formItem" class="form-floating">
            <input type="email"  name="email"  class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Email</label>
        </div>
        <div id="formItem" class="form-floating">
            <input type="password"  name="password"  class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Senha</label>
        </div>
        
        <div id="formItem" class="form-floating">
            <input type="password"  name="confirmpassword"  class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Senha</label>
        </div>

        <button id="formItem" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>